.scene-button {
  position: absolute;
  top: 61.5%;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  font-family: Poppins, sans-serif;
  background-color: transparent !important;
  border: none !important;
  cursor: pointer !important;
}

.scene-button-text {
  font-size: clamp(1rem, 2.5vw + 0.5rem, 2.5rem);
  font-weight: 100;
  margin: 0;
  margin-top: 1rem;
}

.scene-button-text .word {
  display: inline-block;
}

.scene-button-text:hover {
  scale: 1.05;
  transition: scale 0.1s ease-in-out;
}

.scene-button-text {
  font-weight: 100;
  font-style: normal;
}

.scene-text-divider {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 4px;
  stroke: black;
  stroke-width: 4;
  fill: none;
}
